<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="#/employee">Home</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/createId">Create ID Card</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/employee/leaves">Manage Leaves</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/compensationBenefits">Compensation & Benefits</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/grievance">Grievance</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu">
          <li><a href="#/employee/changePassword">Change Password</a></li>
          <li><a href="#/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<div class="container">
  <ul class="nav nav-pills nav-justified" >
    <li class="active"><a data-toggle="pill" target="_self" href="#applyForLeaves">Apply Leaves</a></li>
    <li><a data-toggle="pill" target="_self" href="#leavesSummary">Leaves Summary</a></li>
  </ul>
  <br><br>
  <div class="tab-content" ng-controller="leavesCtrl">
    <div growl></div>
    <div id="applyForLeaves" class="tab-pane fade in active">
      <div class="form-group col-lg-12">
        <label class="col-xs-12 col-sm-3 col-md-1">Full Day:</label>
        <div class="col-md-5">
          <div class="col-md-10">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateOpened" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="From"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-danger" ng-click="startDateClear()">Clear</button>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-10">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="To"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-danger" ng-click="endDateClear()">Clear</button>
          </div>
        </div>
        <div class="col-md-1">
          <button class="btn btn-sm btn-primary" ng-click="addAnotherFullLeave()">+</button>
        </div>
      </div>
      <div class="form-group col-lg-12 col-lg-offset-1" data-ng-repeat="fullDay in fullDays">
        <div class="col-md-5">
          <div class="col-md-10">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fullDay.startDate" is-open="fullDay.openFrom" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="From"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="fullDateOpenForLoopFun($event, fullDay)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-danger" ng-click="startDateClear()">Clear</button>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-10">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fullDay.endDate" is-open="fullDay.openTo" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="To"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="fullDateOpenForLoopFun($event, fullDay)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-sm btn-danger" ng-click="endDateClear()">Clear</button>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-sm btn-danger" ng-click="removedAnotherFullLeave($index)">-</button>
        </div>
      </div>
      <div class="col-md-12 col-md-offset-1">
        <div class="col-md-5">
          <pre>From: <em>{{startDate | date:'fullDate' }}</em></pre>
        </div>
        <div class="col-md-5">
          <pre>To: <em>{{endDate | date:'fullDate' }}</em></pre>
        </div>
      </div>
      <div class="col-md-12">
        <br>
        <label class="col-xs-12 col-sm-3 col-md-1">Half Day:</label>
        <div class="col-md-8">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="halfDate" is-open="halfDateOpened" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="halfDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <!--<div class="col-md-2 col-md-offset-2">
            <button type="button" class="btn btn-sm btn-danger" ng-click="halfDateClear()" style="margin-left:-120px;">Clear</button>
          </div>-->
          <div class="col-md-1">
            <button class="btn btn-sm btn-primary" ng-click="addAnotherHalfLeave()">+</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-8 col-md-offset-1" ng-repeat="halfDay in halfDays">
          <div class="col-md-6" >
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="halfDay.date" is-open="halfDay.isOpen" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="halfDateOpenForLoopFun($event, halfDay)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-sm btn-danger" ng-click="removedAnotherHalfLeave($index)">-</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br>
        <h6 class="col-xs-12 col-sm-3 col-md-1"><b>Description:</b></h6>
        <div class="col-md-11">
          <div class="input-group">
            <textarea class="form-control" name="description" id="description" data-ng-model="description" cols="110" rows="5"></textarea>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 col-md-offset-1">
        <br>
        <div class="col-md-5" >
          <pre><b>Total Applied Leaves:</b> <em>{{getDuration(startDate, endDate)}}</em></pre>
        </div>
      </div>
      <div class="col-md-12 col-md-offset-5">
        <br>
        <button class="btn btn-success" ng-click="applyLeave()">Submit</button>
      </div>
    </div>

    <div id="leavesSummary" class="tab-pane fade">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Full Day</th>
            <th>Half Day</th>
            <th>Number of leaves</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="leave in leaveSummary">
            <td>{{$index+1}}</td>
            <td>{{leave.date}}</td>
            <td>{{leave.halfDays}}</td>
            <td>{{leave.totalLeave}}</td>
            <td>{{leave.description}}</td>
            <td>{{leave.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>