<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="#/employee">Home</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/employee/createId">Create ID Card</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/leaves">Manage Leaves</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/compensationBenefits">Compensation & Benefits</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/grievance">Grievance</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu">
          <li><a href="#/employee/changePassword">Change Password</a></li>
          <li><a href="#/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<br><br>
<div class="container" data-ng-controller="createIdCtrl">
  <div growl></div>
  <form action="" role="form" name="employeeIdForm">
    <div class="form-group col-lg-12">
      <label for="employeeId" class="col-xs-12 col-sm-3 col-md-2">Employee ID:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="employeeId" id="employeeId" class="form-control"  data-ng-model="formData.employeeId" placeholder="Employee ID" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.employeeId.$error.required && employeeIdForm.employeeId.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeIdForm.employeeId.$error.required && employeeIdForm.employeeId.$error.text && employeeIdForm.employeeId.$dirty">Invalid ID</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeName" class="col-xs-12 col-sm-3 col-md-2">Employee Name:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="employeeName" id="employeeName" class="form-control"  data-ng-model="formData.employeeName" placeholder="Employee Name" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.employeeName.$error.required && employeeIdForm.employeeName.$dirty">Name required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="dateOfBirth" class="col-xs-12 col-sm-3 col-md-2">Date Of Birth:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" data-ng-model="formData.dateOfBirth" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.dateOfBirth.$error.required && employeeIdForm.dateOfBirth.$error.date">Date of birth required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="dateOfJoin" class="col-xs-12 col-sm-3 col-md-2">Date Of Joining:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="date" name="dateOfJoin" id="dateOfJoin" class="form-control"  data-ng-model="formData.dateOfJoin" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.dateOfJoin.$error.required && employeeIdForm.dateOfBirth.$error.date">Date of join required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeOfficialEmail" class="col-xs-12 col-sm-3 col-md-2">Official Email:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="email" name="employeeOfficialEmail" id="employeeOfficialEmail" class="form-control"  data-ng-model="formData.employeeOfficialEmail" placeholder="Email" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.employeeOfficialEmail.$error.required && employeeIdForm.employeeOfficialEmail.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeIdForm.employeeOfficialEmail.$error.required && employeeIdForm.employeeOfficialEmail.$error.email && employeeIdForm.employeeOfficialEmail.$dirty">Invalid Official Email</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeePersonalEmail" class="col-xs-12 col-sm-3 col-md-2">Pesonal Email:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="email" name="employeePersonalEmail" id="employeePersonalEmail" class="form-control"  data-ng-model="formData.employeePersonalEmail" placeholder="Email" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.employeePersonalEmail.$error.required && employeeIdForm.employeePersonalEmail.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeIdForm.employeePersonalEmail.$error.required && employeeIdForm.employeePersonalEmail.$error.email && employeeIdForm.employeePersonalEmail.$dirty">Invalid Personal Email</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="currentAddress" class="col-xs-12 col-sm-3 col-md-2">Current Address:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="currentAddress" id="currentAddress" class="form-control"  data-ng-model="formData.currentAddress" placeholder="Current Address" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.currentAddress.$error.required && employeeIdForm.currentAddress.$dirty">Current address required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="permanentAddress" class="col-xs-12 col-sm-3 col-md-2">Permanent Address:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="permanentAddress" id="permanentAddress" class="form-control"  data-ng-model="formData.permanentAddress" placeholder="Permanent Address" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.permanentAddress.$error.required && employeeIdForm.permanentAddress.$dirty">Permanent address required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="designation" class="col-xs-12 col-sm-3 col-md-2">Designation:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="designation" id="designation" class="form-control" data-ng-model="formData.designation" placeholder="Designation" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.designation.$error.required && employeeIdForm.designation.$dirty">Designation required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeIdForm.designation.$error.required && employeeIdForm.designation.$error.text && employeeIdForm.designation.$dirty">Invalid designation</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="bloodGroup" class="col-xs-12 col-sm-3 col-md-2">Blood Group:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="bloodGroup" id="bloodGroup" class="form-control" maxlength="2"  data-ng-model="formData.bloodGroup" placeholder="Blood Group" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.bloodGroup.$error.required && employeeIdForm.bloodGroup.$dirty">Blood group required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeIdForm.bloodGroup.$error.required && employeeIdForm.bloodGroup.$error.text && employeeIdForm.bloodGroup.$dirty">Invalid Blood Group</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="contactNum" class="col-xs-12 col-sm-3 col-md-2">Contact Number:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="contactNum" id="contactNum" class="form-control"  data-ng-model="formData.contactNum" placeholder="Contact Number" ng-maxlength="10" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.contactNum.$error.required && employeeIdForm.contactNum.$dirty">Contact number required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="emergencyNum" class="col-xs-12 col-sm-3 col-md-2">Emergency Contact Number:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="emergencyNum" id="emergencyNum" class="form-control"  data-ng-model="formData.emergencyNum" placeholder="Emergency Contact Number" ng-maxlength="10" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.emergencyNum.$error.required && employeeIdForm.emergencyNum.$dirty">Emergency contact number required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="workingStatus" class="col-xs-12 col-sm-3 col-md-2">Working Status:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <select class="form-control" id="workingStatus" name="workingStatus" data-ng-options="workingStatus for workingStatus in workStatus"  data-ng-model="formData.selectedStatus" required>
          <option style="display:none" value="">Select Status</option>
        </select>
      </div>
    </div>
 </form>
  <form name="imageForm">
    <div class="form-group col-lg-12">
      <label for="employeeImage" class="col-xs-12 col-sm-3 col-md-2">Upload Picture:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="file" id="employeeImage" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
      </div>
      <i class="col-xs-12 col-sm-4 col-md-5" ng-show="imageForm.file.$error.required">*required</i><br>
      <i class="col-xs-12 col-sm-4 col-md-5" ng-show="imageForm.file.$error.maxSize">File too large{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <div class="col-xs-12 col-sm-4 col-md-12 col-md-offset-2">
        <img ng-show="imageForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        <button ng-disabled="!imageForm.file.$valid" ng-click="uploadPic(picFile)">Submit</button>
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%"
               ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
    </div>
  </form>
  <div class="col-lg-12 col-lg-offset-2">
    <button type="submit" class="btn btn-primary" data-ng-disabled="employeeIdForm.$invalid" data-ng-click="createId()"> Create Employee </button>
  </div>
</div>

<!---->
<!--
<div class="form-group col-lg-12">
  <label for="employeeImage" class="col-xs-12 col-sm-3 col-md-2">Upload Picture:</label>
  <div class="col-xs-12 col-sm-5 col-md-5">
    <input type="file" id="employeeImage" ngf-select ng-model="formData.uploadImage" name="file" accept="image/*" ngf-max-size="0.02MB" required ngf-model-invalid="errorFile">
  </div>
  <i class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.file.$error.required">*required</i><br>
  <i class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeIdForm.file.$error.maxSize">File too large{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
  <div class="col-xs-12 col-sm-4 col-md-12 col-md-offset-2">
    <img ng-show="employeeIdForm.file.$valid" ngf-thumbnail="formData.uploadImage" class="thumb"> <button ng-click="formData.uploadImage = null" ng-show="formData.uploadImage">Remove</button>
  </div>
</div>-->
