<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/admin">Admin Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/admin/createEmployee">Create New Employee</a></li>
      <li><a href="#/admin/viewEmployee">View Employee by ID</a></li>
      <li><a href="#/admin/viewAllEmployee">View All Employee</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
</nav><br><br>
<div class="container" data-ng-controller="createEmployeeCtrl">
  <form action="" role="form" name="employeeForm">
    <div class="form-group col-lg-12">
      <label for="employeeId" class="col-xs-12 col-sm-3 col-md-2">Employee ID:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="employeeId" id="employeeId" class="form-control"  data-ng-model="formData.employeeId" placeholder="Employee ID" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeForm.employeeId.$error.required && employeeForm.employeeId.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeForm.employeeId.$error.required && employeeForm.employeeId.$error.text && employeeForm.employeeId.$dirty">Invalid ID</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeePassword" class="col-xs-12 col-sm-3 col-md-2">Employee Password:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="password" name="employeePassword" id="employeePassword" class="form-control"  data-ng-model="formData.employeePassword" placeholder="Employee Password:" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeForm.employeePassword.$error.required && employeeForm.employeePassword.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeForm.employeePassword.$error.required && (employeeForm.employeePassword.$error.minlength || employeeForm.employeePassword.$error.maxlength) && employeeForm.employeePassword.$dirty">Passwords must be between 8 and 20 characters.</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeForm.employeePassword.$error.required && !employeeForm.employeePassword.$error.minlength && !employeeForm.employeePassword.$error.maxlength && employeeForm.employeePassword.$error.pattern && employeeForm.employeePassword.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeName" class="col-xs-12 col-sm-3 col-md-2">Employee Name:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="employeeName" id="employeeName" class="form-control"  data-ng-model="formData.employeeName" placeholder="Employee Name" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeForm.employeeName.$error.required && employeeForm.employeeName.$dirty">required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeEmail" class="col-xs-12 col-sm-3 col-md-2">Employee Email:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="email" name="employeeEmail" id="employeeEmail" class="form-control"  data-ng-model="formData.employeeEmail" placeholder="Employee Email" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="employeeForm.employeeEmail.$error.required && employeeForm.employeeEmail.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!employeeForm.employeeEmail.$error.required && employeeForm.employeeEmail.$error.email && employeeForm.employeeEmail.$dirty">Invalid Email</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="company" class="col-xs-12 col-sm-3 col-md-2">Company Name:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <select class="form-control" id="company" name="company" data-ng-options="company for company in companies"  data-ng-model="formData.selectedCompany" required>
          <option style="display:none" value="">Select Country</option>
        </select>
      </div>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeRole" class="col-xs-12 col-sm-3 col-md-2">Role:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <select class="form-control" id="employeeRole" name="employeeRole" data-ng-options="role for role in roles" data-ng-model="formData.selectedRole" required>
          <option style="display:none" value="">Select Role</option>
        </select>
      </div>
    </div>
    <!--<div class="form-group col-lg-12">
      <label for="department" class="col-xs-12 col-sm-3 col-md-2">Department:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <select class="form-control" id="department" name="department" required>
          <option value="" selected disabled>Select Department</option>
          <option value="">HR</option>
          <option value="">Development</option>
        </select>
      </div>
    </div>-->
    <div class="col-lg-12 col-lg-offset-2">
      <button type="submit" class="btn btn-primary" data-ng-disabled="employeeForm.$invalid", data-ng-click="createNewEmployee()"> Create Employee </button>
    </div>
  </form>
</div>