<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/employee">Employee Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/createId">Create ID Card</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/employee/leaves">Manage Leaves</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu">
          <li><a href="#/employee/changePassword">Change Password</a></li>
          <li><a href="#/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<br><br>
<div class="container" data-ng-controller="changePasswordCtrl">
  <h1>Change Password</h1>
  <form action="" role="form" name="changePasswordForm">
    <div class="form-group col-lg-12">
      <label for="employeeId" class="col-xs-12 col-sm-3 col-md-2">Employee Id:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="text" name="employeeId" id="employeeId" class="form-control"  data-ng-model="formData.employeeId" placeholder="Employee Id" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="changePasswordForm.employeeId.$error.required && changePasswordForm.employeeId.$dirty">Id required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeOldPassword" class="col-xs-12 col-sm-3 col-md-2">Old Password:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="password" name="employeeOldPassword" id="employeeOldPassword" class="form-control"  data-ng-model="formData.employeeOldPassword" placeholder="Employee Old Password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="changePasswordForm.employeeOldPassword.$error.required && changePasswordForm.employeeOldPassword.$dirty">required</span>
    </div>
    <div class="form-group col-lg-12">
      <label for="employeeNewPassword" class="col-xs-12 col-sm-3 col-md-2">New Password:</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <input type="password" name="employeeNewPassword" id="employeeNewPassword" class="form-control"  data-ng-model="formData.employeeNewPassword" placeholder="Employee New Password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
      </div>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="changePasswordForm.employeeNewPassword.$error.required && changePasswordForm.employeeNewPassword.$dirty">required</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!changePasswordForm.employeeNewPassword.$error.required && (changePasswordForm.employeeNewPassword.$error.minlength || changePasswordForm.employeeNewPassword.$error.maxlength) && changePasswordForm.employeeNewPassword.$dirty">Passwords must be between 8 and 20 characters.</span>
      <span class="col-xs-12 col-sm-4 col-md-5" ng-show="!changePasswordForm.employeeNewPassword.$error.required && !changePasswordForm.employeeNewPassword.$error.minlength && !changePasswordForm.employeeNewPassword.$error.maxlength && changePasswordForm.employeeNewPassword.$error.pattern && changePasswordForm.employeeNewPassword.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
    </div>
  </form>
  <div class="col-lg-12 col-lg-offset-2"><br>
    <span class="text-primary"><strong>{{responseMessage}}</strong></span>
  </div>
  <div class="col-lg-12 col-lg-offset-2"><br>
    <button type="submit" class="btn btn-primary" data-ng-disabled="changePasswordForm.$invalid", data-ng-click="changePassword()"> Submit </button>
  </div>
</div>